#K-NN (TUGAS 3)

* K-nearest neighbors atau knn adalah algoritma yang berfungsi untuk melakukan klasifikasi suatu data berdasarkan data pembelajaran (train data sets), yang diambil dari k tetangga terdekatnya (nearest neighbors). 

* Dengan k merupakan banyaknya tetangga terdekat.

# Implementasi K-NN pada dataset iris

In [1]:
import pandas as pd
# link data 
dataset_url = 'https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv'

# membaca data link
df = pd.read_csv(dataset_url)

#menampilkan data
df.head(10)

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa
5           5.4          3.9           1.7          0.4  Setosa
6           4.6          3.4           1.4          0.3  Setosa
7           5.0          3.4           1.5          0.2  Setosa
8           4.4          2.9           1.4          0.2  Setosa
9           4.9          3.1           1.5          0.1  Setosa

In [85]:
#mengecek jumlah kolom dan baris dalam tabel 
#dilihat dari hasilnya tabel di atas memiliki 150 baris dengan 5 kolom
df.shape

(150, 5)

In [86]:
#membuat datafreme menjadi data pelatihan dengan menghapus data target yaitu variety
X = df.drop(columns=["variety"])
#cek apakah data sudah terhapus
X.head()

   sepal.length  sepal.width  petal.length  petal.width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [89]:
#variabel y digunakan untuk menyimpan data target
y = df["variety"].values
#melihat value data dengan jumlah 30
y[0:30]

array(['Setosa', 'Setosa', 'Setosa', 'Setosa', 'Setosa', 'Setosa',
       'Setosa', 'Setosa', 'Setosa', 'Setosa', 'Setosa', 'Setosa',
       'Setosa', 'Setosa', 'Setosa', 'Setosa', 'Setosa', 'Setosa',
       'Setosa', 'Setosa', 'Setosa', 'Setosa', 'Setosa', 'Setosa',
       'Setosa', 'Setosa', 'Setosa', 'Setosa', 'Setosa', 'Setosa'],
      dtype=object)

In [92]:
# mengambil dari sklearn.model_selection lalu import train_test_split
from sklearn.model_selection import train_test_split
#membagi data dengan ukuran 20%
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1, stratify=y)

In [94]:
from sklearn.neighbors import KNeighborsClassifier
# membuat KNN classifier dengan k = 3
knn = KNeighborsClassifier(n_neighbors = 3)
# klasifikasi data dengan fit
knn.fit(X_train,y_train)

KNeighborsClassifier(n_neighbors=3)

In [95]:
#melihat 30 data pertama 
knn.predict(X_test)[0:30]

array(['Virginica', 'Setosa', 'Versicolor', 'Setosa', 'Setosa', 'Setosa',
       'Virginica', 'Virginica', 'Virginica', 'Versicolor', 'Setosa',
       'Versicolor', 'Virginica', 'Versicolor', 'Virginica', 'Setosa',
       'Virginica', 'Versicolor', 'Versicolor', 'Virginica', 'Versicolor',
       'Versicolor', 'Setosa', 'Setosa', 'Virginica', 'Versicolor',
       'Setosa', 'Setosa', 'Versicolor', 'Versicolor'], dtype=object)

In [96]:
#cek score data untuk k = 3
knn.score(X_test, y_test)

0.9666666666666667

In [97]:
from pandas.core.missing import mask_missing
import numpy as np
from sklearn.neighbors import KNeighborsClassifier

# membuat loopingan untuk mengecek score data dari data 1 sampai 30
data = [] #menyimpan hasil score
data1 = [] #menyimpan data yang memiliki score terbesar
for i in range(1,31):
  knn = KNeighborsClassifier(n_neighbors = i)
  knn.fit(X_train,y_train)
  data.append(knn.score(X_test, y_test))

maksimum = np.max(data)

for i in range (len(data)):

  if data[i] == maksimum:
    data1.append(i)
print ("hasil data dari 30 data :", data)
print ('nilai maksimim yang di dapatkan : ',maksimum)
print ("data yang memiliki hasil maksimum",data1)

hasil data dari 30 data : [0.9666666666666667, 0.9666666666666667, 0.9666666666666667, 0.9666666666666667, 0.9666666666666667, 0.9666666666666667, 0.9666666666666667, 0.9666666666666667, 0.9666666666666667, 0.9666666666666667, 0.9666666666666667, 0.9666666666666667, 0.9666666666666667, 0.9666666666666667, 0.9666666666666667, 0.9666666666666667, 0.9666666666666667, 0.9333333333333333, 0.9333333333333333, 0.9, 0.9, 0.9, 0.9333333333333333, 0.9333333333333333, 0.9333333333333333, 0.9333333333333333, 0.9333333333333333, 0.9, 0.9, 0.9]
nilai maksimim yang di dapatkan :  0.9666666666666667
data yang memiliki hasil maksimum [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]